@using System.Activities.Statements
@using WebStepBlog.Models
@model IEnumerable<WebStepBlog.Models.Tag>

@{
    ViewBag.Title = "Index";
}

<h2>Tags</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Posts)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Title, "PostsByTag", "Tags",new { tagName=item.Title},null)
        </td>
        <td>
            @Html.ActionLink(item.Posts.Count.ToString(), "PostsByTag", "Tags")
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}


</table>
