
@model IPagedList<WebStepBlog.Models.Post>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h3>All Ads here!</h3>
    <p>
        @Html.ActionLink("Create New Ad", "Create")
    </p>

    <table class="table">
        <tr>
            <th>
                Model
            </th>
            <th>
                Description
            </th>
            <th>
                Date
            </th>
            <th>
                Author
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Body)
                    <div class="post-tags">
                        <span class="glyphicon glyphicon-tags"></span><h4> Tags:</h4>
                        @foreach (var tag in item.Tags)
                        {
                            <span class="tag">
                                <strong>@tag.Title</strong>
                            </span>
                        }
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <th>
                    @if (item.Author == null)
                    {
                        <i>No Author</i>
                    }

                    @Html.DisplayFor(modelItem => item.Author.FullName)
                </th>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
    <div class="pager">@Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true })</div>
