@using WebStepBlog.Models
@{
    ViewBag.Title = "WebStep";
}

@model IEnumerable<WebStepBlog.Models.Post>

@foreach (var post in Model)
{
    <section class="row">
        <article class="post col-md-9">
            <h2 class="title">@Html.ActionLink(@post.Title,"SinglePost","Posts",new  {id=post.Id },null) </h2>
            <div>
                Публикувано на <i>@post.Date</i>
                <i>
                    @if (post.Author != null)
                    {
                        @:от <i>@post.Author.FullName</i>
                    }
                </i>
            </div>
            <hr />
            <div class="post-body">
                <p>
                    @post.Body
                </p>
            </div>
        </article>
    </section>
}
