@using WebStepBlog.Models
@using PagedList;
@using PagedList.Mvc;
@using WebStepBlog.Classes
@{
    ViewBag.Title = "WebStep";
}

@model IPagedList<WebStepBlog.Models.Post>

@foreach (var post in Model)
{
    <section class="row">
        <article class="post col-md-9">
            <h2 class="title">@Html.ActionLink(@post.Title,"SinglePost","Posts",new  {id=post.Id },null) </h2>
            <hr />
            <div>
                Публикувано на <i>@post.Date</i>
                <i>
                    @if (post.Author != null)
                    {
                        @:от <i>@post.Author.FullName</i>
                    }
                </i>
                @if (post.Comments.Count==0)
                {
                    <span style="float:right">@Html.ActionLink("Leave a comment","CreateComment","Comments",new { id=post.Id},null)</span>
                }
                else if (post.Comments.Count == 1)
                {
                    <span style="float:right">@Html.ActionLink(post.Comments.Count+" Comment", "CreateComment", "Comments", new { id = post.Id }, null)</span>
                }
                else
                {
                    <span style="float:right">@Html.ActionLink(post.Comments.Count + " Comments", "CreateComment", "Comments", new { id = post.Id }, null)</span>
                }
            </div>
            <hr />
            <div class="post-body">
                <p>
                    @Utils.CutText(post.Body, 200);
                    @if (post.Body.Length > 200)
                    {
                        <span style="float:right">@Html.ActionLink("Read More", "SinglePost", "Posts", new { id = post.Id }, null)</span>
                    }
                </p>
            </div>
        </article>
    </section>
}
<div class="pager">@Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true })</div>
